@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
    font-family: 'Assassins';
    src: url('font/assassins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Constantia';
    src: url('font/constan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Constantia", sans-serif;
    background-color: #161a19;
}

input {
    font-family: "Constantia", sans-serif;
    color: antiquewhite;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Assassins", "sans-serif";
    text-transform: uppercase;
}

button {
    font-family: "Assassins", "sans-serif";
    text-transform: uppercase;
}

.window-top-left {
    background-image: url("textures/Window/container/sliced/top-left.png");
}

.window-left {
    background-image: url("textures/Window/container/sliced/left.png");
}

.window-bottom-left {
    background-image: url("textures/Window/container/sliced/bottom-left.png");
}

.window-bottom {
    background-image: url("textures/Window/container/sliced/bottom.png");
}

.window-bottom-right {
    background-image: url("textures/Window/container/sliced/bottom-right.png");

}

.window-right {
    background-image: url("textures/Window/container/sliced/right.png");
}

.window-top-right {
    background-image: url("textures/Window/container/sliced/top-right.png");

}

.window-top {
    background-image: url("textures/Window/container/sliced/top.png");
}

.window-center {
    background-image: url("textures/Window/container/sliced/center.png");
}

.window-title {
    background-image: url("textures/Window/Container/HEADER_unblend.png");
    height: 64px;
}

.window-title > h1 {
    text-shadow: 0 0 256px #fff, 0 0 128px #fff, 0 0 64px #fff, 0 0 48px #fff;
}

.window-corner {
    height: 6px;
    width: 6px;
}

.window-edge-vertical {
    width: 6px;
}

.window-edge-horizontal {
    height: 6px;
}

.textfield-left {
    background-image: url("textures/input/textfield-left.png");
    width: 5px;
}

.textfield-center {
    background-image: url("textures/input/textfield-center.png");
    height: 64px;
}

.textfield-right {
    background-image: url("textures/input/textfield-right.png");
    width: 5px;
}

.button {
    font-family: "Assassins", "sans-serif";
    text-transform: uppercase;
}

.button-left {
    background-image: url("textures/input/button-left.png");
    width: 11px;
}

.button-center {
    background-image: url("textures/input/button-center.png");
    height: 70px;
}

.button-right {
    background-image: url("textures/input/button-right.png");
    width: 11px;
}

.button:hover .button-left,
.button:hover .button-right {
    width: 11px;
}

.button:hover .button-left {
    background-image: url("textures/input/button-left-hover.png");
}

.button:hover .button-center {
    background-image: url("textures/input/button-center-hover.png");
    height: 70px;
}

.button:hover .button-right {
    background-image: url("textures/input/button-right-hover.png");
}